

.main {
  margin-bottom: 50px;
}

footer {
    position: absolute !important;
    bottom: 0 !important;
    width: 100%;
    text-align: center;
}

.footer.segment {
    position: relative !important;
}
