{% extends 'base/default-page.html' %}

{% block default_head %}
<style>
  body>.grid {
    height: 100%;
  }

  .image {
    margin-top: -100px;
  }

  .column {
    max-width: 450px;
  }
</style>
{% endblock %}
{% block title %}
Login
{% endblock title %}

{% block body %}
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui image header">
      <div class="content">
        Login to your account
      </div>
    </h2>
    <form method="POST" class="ui large form">
      {{ form.csrf_token }}
      <div class="ui stacked secondary  segment">
        <div class="field">
          <div class="ui left icon input ">
            <i class="user icon"></i>
            {{ form.username(placeholder="Username") }}
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            {{ form.password(placeholder="Password") }}
          </div>
        </div>
        <input class="ui fluid large teal submit button" type="submit" value="Submit">
        <div class="ui center aligned basic segment">
          <a style="width: 100%;" href="{{ url_for('accounts.login_oauth', name='facebook') }}" class="ui blue button"><i
              class="facebook icon"></i>facebook</a>
          <div class="ui horizontal divider">
            Or
          </div>
          <a style="width: 100%;" href="{{ url_for('accounts.login_oauth', name='google') }}" class="ui red button"><i
              class="google plus icon"></i>google</a>
        </div>
      </div>
      {% if error_msg %}
      <div class="ui negative message">
        <div class="header">
          {{ error_msg }}
        </div>
      </div>
      {% endif %}

    </form>
    <div class="ui message">
      No any account? <a href="{{ url_for('accounts.register') }}">Register now</a>
    </div>
  </div>
</div>
{% endblock body%}
