{% extends 'base/default-page.html' %}

{% block default_head %}
<style>
    body>.grid {
        height: 100%;
    }

    .image {
        margin-top: -100px;
    }

    .column {
        max-width: 450px;
    }
</style>
{% endblock %}
{% block title %}
Register
{% endblock title %}

{% block body %}
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui image header">
            <div class="content">
                Create New Account
            </div>
        </h2>
        <form method="POST" class="ui large form">
            {{ form.csrf_token }}
            <div class="ui stacked secondary  segment">
                <div class="field">
                    <div class="ui left icon input ">
                        <i class="user icon"></i>
                        {{ form.username(placeholder="Username") }}
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            {{ form.password(placeholder="Password") }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            {{ form.confirm_password(placeholder="Confirm Password") }}
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="envelope icon"></i>
                        {{ form.email(placeholder="Email Address") }}
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <div class="ui left  input">
                            {{ form.first_name(placeholder="First Name") }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left  input">
                            {{ form.last_name(placeholder="Last Name") }}
                        </div>
                    </div>
                </div>
                <input class="ui fluid large teal submit button" type="submit" value="Register">
            </div>
            {% if error_msg %}
            <div class="ui negative message">
                <div class="header">
                    {{ error_msg }}
                </div>
            </div>
            {% endif %}
        </form>
        <div class="ui message">
            If you have any account? <a href="{{ url_for('accounts.login') }}">Login now</a>
        </div>
    </div>
</div>
{% endblock body%}


Register
<form method="POST">
    {{ form.csrf_token }}
    {{ form.username.label }}
    {{ form.username }}
    {{ form.password.label }}
    {{ form.password }}
    {{ form.confirm_password.label }}
    {{ form.confirm_password }}
    {{ form.email.label }}
    {{ form.email }}
    {{ form.first_name.label }}
    {{ form.first_name }}
    {{ form.last_name.label }}
    {{ form.last_name }}
    <input type="submit" value="Submit">
</form>