{% extends "base/base.html" %}
{% block title %}
หน้าหลัก | {{ config.get('APP_TITLE') }}
{% endblock %}
{% block content %}
<div class="ui vertical masthead segment">
  <div class="ui padding-left aligned container" style="margin-bottom: 1%;">
    <div class="ui teal clearing segment" style="margin-top: 7%;margin-bottom:25%;">
      <div class="ui left aligned container" style="margin-bottom: 1%;">
        <h1 style="color: rgb(0, 0, 0);left: 50%;">
          คอมไพล์
        </h1>
      </div>
      โปรดกรอกข้อมูลให้ครบถ้วน
      {{ form.csrf_token }}
      <div class="ui segment">
        <h3>spec_bdy_width</h3>
        <div class="field">
          {{ form.spec_bdy_width.label }}
          {{ form.spec_bdy_width }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}