# new-------------v

flask
flask-mongoengine
flask-login
# flask-allows
flask-principal
flask-restx
authlib
bcrypt
blinker
requests
# flask_restplus
flask_marshmallow
flask_jwt_extended
loginpass
email_validator
pandas
flask_cors
flask_caching

# Flask-uWSGI-WebSocket
asyncio-nats-client

psutil
asyncio-nats-client

# brython
watchdog
brython

# wrf
xarray
matplotlib
openpyxl
sklearn
dask
Cartopy

# old-------------v

# flake8
# werkzeug
# flask
# flask-mongoengine
# flask-login
# flask-principal
# flask-restx
# flask_marshmallow
# flask_jwt_extended
# flask-caching
# pillow
# loginpass
# authlib
# utm
# bokeh==1.4.0
# pandas
# email_validator

# #migrate and export db
# xlrd
# xlsxwriter
# watchdog
# brython
# wheel
# idna==2.5
