{% extends "base/default-page.html" %}
{% block content %}
<style>
  .center {
    text-align: center;
  }

  .header1 {
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)), url("https://raw.githubusercontent.com/FOUR-9-7/pic/master/c1.jpg") center top no-repeat;
    background-size: cover;
    margin-bottom: -28px;
  }

  .title {
    color: white;
    padding-top: calc(30vh - 25px);
  }

  .title h1 {
    font-size: 4.5em;
  }

  .title h3 {
    font-size: 1.5em;
  }

  .main {
    margin-bottom: 50px;
  }

  .main p {
    font-size: 1.2em;
  }

  .main h3 {
    font-size: 1.5em;
  }

  * {
    box-sizing: border-box;
  }

  body {
    font-family: Verdana, sans-serif;
  }

  .mySlides {
    display: none;
  }

  img {
    vertical-align: middle;
  }

  /* Slideshow container */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active {
    background-color: #717171;
  }

  /* Fading animation */

  @-webkit-keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

  @keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

  .ui.color1 {
    background-color: #EA7171;
    color: #fff;
  }

  .ui.color2 {
    background-color: #003083;
    color: #fff;
  }

  .ui.color3 {
    background-color: #ffb554;
    color: #fff;
  }

  .ui.color4 {
    background-color: #8DB600;
    color: #fff;
  }

  .ui.color5 {
    background-color: #23c6c8;
    color: #fff;
  }

  .ui.color6 {
    background-color: #ae0001;
    color: #fff;
  }

  /* On smaller screens, decrease text size */
</style>

<div class="header1">
  <div class="title center">
    <h1> ระบบบันทึกข้อมูลทุเรียนออนไลน์</h1>
    <h3>Monthong Application Services</h3>
    <h3>โครงการเพิ่มประสิทธิภาพการผลิตสินค้าการเกษตรให้มีคุณภาพตามศาสตร์พระราชา (โครงการทุเรียนคุณภาพ)</h3>
  </div>
</div>


<div class="ui one column centered grid ">

  <a href="{{ url_for('main.story_of_pidthong') }}">
    <button class="ui big teal button">
      <i class="certificate
        icon"></i>
      ความเป็นมาโครงการ
    </button>
  </a>

  <div class="ui color3 icon top right pointing dropdown big button">
    <i class="file alternate outline icon"></i>
    <span class="text">ข้อมูลพื้นฐานโครงการ <i class="dropdown icon"></i>
    </span>
    <div class="menu">
      <a class="item" href="{{url_for('gardeners.gardeners', node_number=-1)}}">
        <div class="ui red empty circular label"></div>
        ข้อมูลเกษตรกร
      </a>
      <a class="item" href="{{url_for('admin.users.volunteers', node_number=-1)}}">
        <div class="ui blue empty circular label"></div>
        ข้อมูลอาสาทุเรียน
      </a>
      <a class="item" href="{{url_for('associates.associates')}}">
        <div class="ui teal empty circular label"></div>
        ข้อมูลภาคีเครือข่าย
      </a>
    </div>
  </div>
  <a class="item" href="{{ url_for('overview.index') }}">
    <div class="ui color1 labeled icon top right pointing big button">
      <i class="chart bar outline icon"></i>
      <span class="text">ข้อมูลการดำนินการ</span>
    </div>
  </a>
  <a class="item" href="{{ url_for('data_sheets.index') }}">
    <div class="ui color6 labeled icon top right pointing big button">
      <i class="file icon"></i>
      <span class="text">ข้อมูลเอกสาร</span>
    </div>
  </a>
  <div class="ui color4 icon top right pointing dropdown big button">
    <i class="map marker alternate icon"></i>
    <span class="text">ข้อมูลในรูปแผนที่ <i class="dropdown icon"></i></span>
    <div class="menu">
      <a class="item" href="{{url_for('maps.gardens')}}">
        <div class="ui red empty circular label"></div>
        แผนที่ติดตามแปลง
      </a>
      <a class="item"
        href="http://pidthong.maps.arcgis.com/apps/webappviewer/index.html?id=1c956e7871834f21aabb6d209d038db0&fbclid=IwAR0KqAiv8bZMOTX4_G6WQ79e7XBpJyDX1NcipT66XpvD-nf77ZyO9lLakVA"
        target="_blank">
        <div class="ui blue empty circular label"></div>
        แผนที่ภูมิศาสตร์โครงการฯ
      </a>
    </div>
  </div>
  <a class="ui color5 icon top right pointing big button" href="{{url_for('accounts.login')}}">
    <i class="sign in alternate icon"></i>
    <span class="text">เข้าสู่หน้าหลัก</span>
  </a>
</div>

<!-- BUTTON-->
<div class="ui centered grid">
  <div class="column">



  </div>
</div>
<!-- END-->
<div class="eight wide column" style="margin-top: 3%;">
  <div class="content">
    <div class="slideshow-container">

      <div class="mySlides fade">
        <img src="{{ url_for('static', filename='images/1.jpg') }}" class="ui centered huge image">
      </div>

      <div class="mySlides fade">
        <img src="{{ url_for('static', filename='images/2.jpg') }}" class="ui centered huge image">
      </div>

      <div class="mySlides fade">
        <img src="{{ url_for('static', filename='images/3.jpg') }}" class="ui centered huge image">
      </div>

      <div class="mySlides fade">
        <img src="{{ url_for('static', filename='images/4.jpg') }}" class="ui centered huge image">
      </div>

      <div class="mySlides fade">
        <img src="{{ url_for('static', filename='images/5.jpg') }}" class="ui centered huge image">
      </div>

      <div class="mySlides fade">
        <img src="{{ url_for('static', filename='images/6.jpg') }}" class="ui centered huge image">
      </div>

      <div class="mySlides fade">
        <img src="{{ url_for('static', filename='images/7.jpg') }}" class="ui centered huge image">
      </div>

      <div class="mySlides fade">
        <img src="{{ url_for('static', filename='images/8.jpg') }}" class="ui centered huge image">
      </div>

    </div>
    <br>

    <div style="text-align:center">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>

    </div>

  </div>
</div>

</div>
</div>
</div>
<script>
  var slideIndex = 0;
  showSlides();

  function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) { slideIndex = 1 }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " active";
    setTimeout(showSlides, 2000); // Change image every 2 seconds
  }
</script>
<script>
  $("input:text").click(function () {
    $(this).parent().find("input:file").click();
  });

  $('input:file', '.ui.action.input')
    .on('change', function (e) {
      var name = e.target.files[0].name;
      $('input:text', $(e.target).parent()).val(name);
    });

</script>


{% endblock %}
