<style>
  a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: gray;
    background-color: transparent;
    text-decoration: underline;
  }
</style>
<footer class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui three column stackable grid">
      <div class="column">
        <h4>
          เกี่ยวกับ
        </h4>
        <div>
          <img src="{{ url_for('static', filename='images/icon.png') }}" class="center"
            style="width:105px; height:115px; margin-bottom: 1rem;">
          <br>Dustpath<br>ระบบจำลองการเคลื่อนตัวของฝุ่น PM 2.5
        </div>
      </div>
      <div class="column">
        <h4>
          ผู้จัดทำ
        </h4>
        1. นายพงศธร ชดช้อย<br>2. นายทิวัตถ์ ลิม<br>3. นายธีรยุทธ นุชผดุง
        <h4>
          อาจารย์ที่ปรึกษาโครงการ
        </h4>
        <div>
          ดร.ธนาธิป ลิ่มนา
        </div>
      </div>
      <div class="column">
        <h4 class="ui inverted header">
          สนับสนุนโดย
        </h4>
        <div class="inverted link list">
          <a href="http://www.coe.psu.ac.th" class="item" target="_blank">
            <img src="/static/images/coe-psu-branding-white.png" class="center" style="width:329px; height:64px;">
          </a>
        </div>
        <div class="ui inverted link list">
          <div class="ui two column stackable grid">
            <div class="column">
              <img src="/static/images/r202-white.png" class="ui tiny image">
            </div>
            <div class="column">
              <a href="http://air.psu.ac.th/" class="item" target="_blank">
                <img src="/static/images/anh.png" style="width:170px; height:70px;">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>