<style>
    .ui.fixed.borderless.menu {
        background-color: #44545C;
    }

    span.title_text {
        font-weight: lighter;
    }

    .white {
        color: #ffffff;
    }
</style>
<div class="ui borderless menu fixed" style="position: fixed; top: 0px; left: auto; z-index: 10; box-shadow: none;">
    <a class="launch icon item">
        <i class="white sidebar icon"></i>
    </a>
    <div class="header item">
        <a href="{{ url_for('dashboard.index') }}" style="text-decoration: none;">
            <h1 class="title_text white">
                {{ config['APP_TITLE'] }}
            </h1>
        </a>
    </div>
    <div class="right menu">
        <a href="{{ url_for('accounts.logout') }}" class="ui item" >
            <span class="white">
                Logout
            </span>
        </a>
    </div>
</div>