<footer class="footer mt-auto py-3 bg-dark">
  <div class="container text-center text-white">
    <div class="row">
      <div class="col-sm">
        <br>
        <img src="{{ url_for('static', filename='images/icon.png') }}" class="img-fluid" style="max-height: 100px; max-width: 100px;">
        <br>
        ทางของฝุ่น<br> ระบบจำลองการเคลื่อนตัวของฝุ่น PM 2.5
      </div>
      <div class="col-sm">
          <br>
          ผู้จัดทำ<br> 1. นายพงศธร ชดช้อย<br> 2. นายธีรยุทธ นุชผดุง<br>
          <br>
          ที่ปรึกษาโครงการ<br> ดร. ธนาธิป ลิ่มนา
      </div>
      <div class="col-sm">
        <br>
        <img src="{{ url_for('static', filename='images/CoE-BG_1_.png') }}" class="img-fluid" style="max-height: 100px; max-width: 100px;">
        <a href="http://www.coe.psu.ac.th" class="item">
          <br>
          สาขาวิชาวิศวกรรมคอมพิวเตอร์<br>
          คณะวิศวกรรมศาสตร์
          มหาวิทยาลัยสงขลานครินทร์<br>
          <br>
        </a>
      </div>
    </div>
  </div>
</footer>

{# <div class="ui inverted vertical footer segment" style="margin-top: auto;">
  <div class="ui center aligned container">
    <div class="ui stackable inverted divided grid">
      <div class="six wide column">
        <div class="ui inverted link list">
          <img src="{{ url_for('static', filename='images/icon.png') }}" class="img-fluid img-thumbnail">
          <br>
          </a>
          ทางของฝุ่น<br> ระบบจำลองการเคลื่อนตัวของฝุ่น PM 2.5
        </div>
      </div>
      <div class="five wide column">
        <div class="ui inverted link list">
          <br>
          ผู้จัดทำ<br> 1. นายพงศธร ชดช้อย<br> 2. นายธีรยุทธ นุชผดุง<br>
          </a>
          <br>
          ที่ปรึกษาโครงการ<br> ดร. ธนาธิป ลิ่มนา
        </div>
      </div>
      <div class="five wide column">
        <div class="ui inverted link list">
          <br>
          <img src="{{ url_for('static', filename='images/CoE-BG_1_.png') }}" class="img-fluid img-thumbnail">
          <a href="http://www.coe.psu.ac.th" class="item">
            <br>
            สาขาวิชาวิศวกรรมคอมพิวเตอร์<br>
            คณะวิศวกรรมศาสตร์
            มหาวิทยาลัยสงขลานครินทร์<br>
            <br>
          </a>
        </div>
      </div>
    </div>
  </div>
</div> #}