<div class="ui inverted vertical footer segment" style="margin-top: auto;">
  <div class="ui center aligned container">
    <div class="ui stackable inverted divided grid">
      <div class="six wide column">
        <img src="{{ url_for('static', filename='images/pidthong.png') }}" class="ui centered image"
          style="width:65px;height:75px;">
        <div class="ui inverted link list">
          <a href="http://www.pidthong.org" class="item">
            มูลนิธิปิดทองหลังพระ<br>
            สืบสานแนวพระราชดำริสถาบันส่งเสริมและพัฒนากิจกรรมปิดทองหลังพระสืบสานแนวพระราชดำริ
          </a>
        </div>
      </div>
      <div class="five wide column">
        <img src="{{ url_for('static', filename='images/CoE-BG_1_.png') }}" class="ui centered tiny image">
        <div class="ui inverted link list">
          <a href="http://www.coe.psu.ac.th" class="item">
            Department of Computer Engineering<br>
            Faculty of Engineering,
            Prince of Songkla University<br>
            Hat Yai, Thailand<br>
          </a>
        </div>
      </div>
      <div class="five wide column">
        <img src="{{ url_for('static', filename='images/r202-white.png') }}" class="ui centered tiny image">
        <div class="ui inverted link list">
          <a href="http://r202.coe.psu.ac.th" class="item">
            Develop by R202 research lab
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
