<div class="ui pagination menu">
    <a class="item" href="{{url_for(redirect, page=1)}}"><i
        class="angle double left icon"></i></a>
    {% for i in pagination['paginate']%}
      {% if i == request.args.get('page') or i=='...' %}
        {{ '<a class="disabled item">{}</a>'.format(i) |safe}}
      {% elif request.args.get('search') %}
        {{ '<a class="item" href="{}">{}</a>'.format(url_for(redirect, 
        search=request.args.get('search'), page=i), i) |safe}}
      {% else%}
        {{ '<a class="item" href="{}">{}</a>'.format(url_for(redirect, page=i), i) |safe}}
      {% endif %}
    {% endfor %}
    <a class="item"
      href="{{url_for(redirect, page=((pagination['datalen']/20)+1)| int)}}"><i
        class="angle double right icon"></i></a>
  </div>